<!--app-urbanization></!--app-urbanization-->

<div style="padding: 4em">
  <div class="card mb-3 mb-xl-5">
    <div
      class="card-header border-0 cursor-pointer"
      role="button"
      data-bs-toggle="collapse"
      data-bs-target="#kt_account_profile_details"
      aria-expanded="true"
      aria-controls="kt_account_profile_details"
    >
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0 fs-5">Registro de Urbanización</h3>
      </div>
    </div>
    <div id="kt_account_profile_details" class="collapse show">
      <form [formGroup]="form">
        <div class="card-body border-top p-9">
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-5">Imagen</label>
            <div class="col-lg-8">
           
              <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
                <ngx-dropzone-image-preview  ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                  <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label><!--{{ f.name }} -->
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
                <!--  [style.background-image]="'url(./assets/media/avatars/blank.png'"-->
                <!--div--
                  class="image-input image-input-outline"
                  data-kt-image-input="true"
                  style="
                    background-image: url('assets/media/svg/avatars/blank.svg');
                  "
                >
                  <!--begin::Preview existing avatar->
                  <div
                    class="image-input-wrapper w-125px h-125px"
                    style="
                      background-image: url(assets/media/avatars/300-1.jpg);
                    "
                  ></div>
                  <!--end::Preview existing avatar->
                  <!--begin::Label->
                  <label
                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                    data-kt-image-input-action="change"
                    data-bs-toggle="tooltip"
                    title="Change avatar"
                  >
                    <i class="bi bi-pencil-fill fs-7"></i>
                    <!--begin::Inputs->
                    <input
                      type="file"
                      name="avatar"
                      accept=".png, .jpg, .jpeg"
                    />
                    <input type="hidden" name="avatar_remove" />
                    <!--end::Inputs->
                  </label>
                  <!--end::Label->
                  <!--begin::Cancel->
                  <span
                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                    data-kt-image-input-action="cancel"
                    data-bs-toggle="tooltip"
                    title="Cancel avatar"
                  >
                    <i class="bi bi-x fs-2"></i>
                  </span>
                  <!--end::Cancel->
                  <!--begin::Remove->
                  <span
                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                    data-kt-image-input-action="remove"
                    data-bs-toggle="tooltip"
                    title="Remove avatar"
                  >
                    <i class="bi bi-x fs-2"></i>
                  </span>
                  <!--end::Remove->
                </!--div-->
           
            </div>
          </div>

          <br />
<input type="hidden" formControlName="urbanizationId">
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group mb-3">
                <label class="col-lg-3 col-form-label required fw-bold fs-5"
                  >Urbanización</label
                >
                <div class="col-lg-8 fv-row">
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Nombre Urbanización"
                    formControlName="urbanization"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group mb-3">
                <label class="col-lg-4 col-form-label fw-bold fs-5"
                  ><span class="required">Celular</span></label
                >
                <div class="col-lg-8 fv-row">
                  <input
                    type="tel"
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Celular"
                    name="contactPhone"
                    value="0979699620"
                    formControlName="contactNumber"
                  />
                </div>
              </div>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="col-lg-6">
              <div class="input-group mb-3">
                <label class="col-lg-3 col-form-label required fw-bold fs-5"
                  >Correo Electrónico</label
                >
                <div class="col-lg-8 fv-row">
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Correo Electrónico"
                    name="companySite"
                    formControlName="contactEmail"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group mb-3">
                <label class="col-lg-4 col-form-label fw-bold fs-5">
                  <span class="required">Nombre de Contacto</span></label
                >
                <div class="col-lg-8 fv-row">
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Nombre de Contacto"
                    name="company"
                    formControlName="contactName"
                  />
                </div>
              </div>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="col-lg-6">
              <div class="input-group mb-3">
                <label class="col-lg-3 col-form-label required fw-bold fs-5"
                  >Activo Desde</label
                >
                <div class="col-lg-8 fv-row">
                  <input
                    type="datetime-local"
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Date"
                    formControlName="activeDesde"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group mb-3">
                <label class="col-lg-4 col-form-label fw-bold fs-5"
                  ><span class="required">Activo Hasta</span></label
                >
                <div class="col-lg-8 fv-row">
                  <input
                    type="datetime-local"
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Date"
                    name="companySite"
                    formControlName="activeHasta"
                  />
                </div>
              </div>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="col-lg-6">
              <div class="input-group mb-3">
                <label class="col-lg-3 col-form-label required fw-bold fs-5"
                  >Ruc</label
                >
                <div class="col-lg-8 fv-row">
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid"
                    placeholder="RUC"
                    name="company"
                    formControlName="ruc"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group mb-3">
                <label class="col-lg-4 col-form-label fw-bold fs-5"
                  ><span class="required">Ciudad</span></label
                >
                <div class="col-lg-8 fv-row">
                  <input
                    type="tel"
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Ciudad"
                    name="companySite"
                    formControlName="city"
                  />
                </div>
              </div>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="col-lg-6">
              <div class="input-group mb-3">
                <label class="col-lg-3 col-form-label required fw-bold fs-5"
                  >País</label
                >
                <div class="col-lg-8 fv-row">
                  <input
                    type="text"
                    class="form-control form-control-lg form-control-solid"
                    placeholder="País"
                    name="companySite"
                    formControlName="country"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group mb-3">
                <label class="col-lg-4 col-form-label fw-bold fs-5"
                  ><span class="required">Activo</span></label
                >
                <div class="col-lg-8 d-flex align-items-center">
                  <div class="form-check form-check-solid form-switch fv-row">
                    <input
                      class="form-check-input w-45px h-30px"
                      type="checkbox"
                      id="allowmarketing"
                      checked="checked"
                      formControlName="active"
                    />
                    <label
                      class="form-check-label"
                      for="allowmarketing"
                    ></label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br />
        </div>

        <div class="card-footer d-flex justify-content-end py-6 px-5">
          <button
            type="reset"
            class="btn btn-light btn-active-light-primary me-2"
            [mat-dialog-close]="false"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            id="kt_account_profile_details_submit" (click)="saveSettings()"
          >
            Guardar Cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
