<div class="row gy-5 g-xl-8" style="margin-top: 5%;">



  <div class="col-xxl-4">
    <app-max-user class="card card-xxl-stretch"></app-max-user>
</div>

    <div class="col-xxl-4">
      <app-actividades class="card card-xxl-stretch"></app-actividades>
    </div>
    
    <div class="col-xxl-4">
      <app-barchart class="card card-xxl-stretch-50 mb-5 mb-xl-8" chartColor="primary" chartHeight="150px"></app-barchart>
      <app-dona-chart class="card card-xxl-stretch-50 mb-5 mb-xl-8" chartColor="primary" chartHeight="175px"></app-dona-chart>
    </div>




  </div>

  
  