/*.ancho{
    width: 20%;
}*/

/*.button{
    height: 50px;
    background: linear-gradient(to right, #F6B668, #F48353);
    background: linear-gradient(to right, #FCDF6B, #F99742);
    background: linear-gradient(to right, #339CE9, #1D5BDF);
    background: linear-gradient(to right, #1B1464);


    /*background-color: rgb(#F6B668,#F48353, #FCDF6B,#F99742, #339CE9,#1D5BDF,#1B1464 )/
    color: white;
    margin: 20px;
}*/

/*.buttonNegro{
    height: 50px;
    background-color: black;
    color: white;
    margin: 20px;
}*/




