<div class="icons">
    <div class="icons1">
    <span class="material-icons" style="font-size: 50px;">help_outline</span>
    </div>
  <h1 class="titulo" mat-dialog-content>Está seguro qué desea resetear la contraseña de este usuario?</h1>
  <!--p>Está operación es irreversible</!--p-->
  <div mat-dialog-actions style="margin-left: 143px;">
    <button class="butCancelar"  mat-button [mat-dialog-close]="false" >Cancelar</button>
    <button class="butEliminar"  mat-button [mat-dialog-close]="true" >Sí</button>
  </div>
  </div>
